.git
.github
.aws
.codex
.agents

**/node_modules
ClientApp/.angular
ClientApp/dist
ClientApp/coverage
ClientApp/playwright-report
ClientApp/test-results

**/bin
**/obj
artifact
TestResults

*.db-shm
*.db-wal
