<h1 id="tableLabel">Users Tasks</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!users"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Lastname</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
    </tr>
  </tbody>
</table>

<form [formGroup]="userTaskForm" (ngSubmit)="onSubmit(userForm.value)">
  <div>
    <label for="name">
      Name
    </label>
    <input class="float-right" id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="deadline">
      Dead Line
    </label>
    <input class="float-right" id="deadline" type="text" formControlName="deadline">
  </div>
  <div>
    <label for="deadline">
      User
    </label>
    <select class="float-right" formControlName="user">
      <option *ngFor="let user of users" [ngValue]="user">
        {{ user.firstName }} {{ user.lastName }}
      </option>
    </select>
  </div>
  <div>
    <label for="status">
      Status
    </label>
    <input class="float-right" id="status" type="text" formControlName="status">
  </div>
  <button class="button float-right" type="submit">Save</button>
</form>
