<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p>To add a new item you need to clear the form and then save.<br /> To edit an item you need to click edit then save.<br /> To delete and item you click delete.</p>
      <button class="button float-right" type="button" (click)="refresh()">Refresh</button>
    </div>
  </div><div class="row">
    <div class="col-12">
      <app-task-group></app-task-group>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-user-task></app-user-task>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-user></app-user>
    </div>
  </div>
</div>
