<h1 id="tableLabel">Task Groups</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!taskGroups"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="taskGroups">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let taskGroup of taskGroups">
      <td>{{ taskGroup.id }}</td>
      <td>{{ taskGroup.name }}</td>
    </tr>
  </tbody>
</table>

<form [formGroup]="taskGroupForm" (ngSubmit)="onSubmit(taskGroupForm.value)">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="userTask">
      User Task
    </label>
    <select multiple formControlName="userTasks">
      <option *ngFor="let userTask of userTasks" [ngValue]="userTask">
        {{ userTask.name }}
      </option>
    </select>
  </div>
  <button class="button" type="submit">Save</button>
</form>
